# TMDB API Token (Obtenelo de https://www.themoviedb.org/settings/api)
TMDB_API_TOKEN=eyJhdWQiOiIxMmY2NjJmMTVhMmYxZmJiODQ0NzAyNGUwZWJkMzJlMSIsIm5iZiI6MTc4MzM5MTM2OS4yMjg5OTk5LCJzdWIiOiI2YTRjNjQ4OTNmMjA3OWQ3MjBkZWRjZDgiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0

# Modo de almacenamiento (json = simulación archivo local, strapi = conexión real con Strapi)
STORAGE_MODE=strapi

# URL de Strapi (requerido si STORAGE_MODE=strapi)
STRAPI_API_URL=https://gestionweb.frlp.utn.edu.ar

# Endpoint de Strapi namespaceado
STRAPI_ENDPOINT=canepa-peliculas

# Token opcional de Strapi (requerido si STORAGE_MODE=strapi y no habilitaste permisos públicos)
STRAPI_API_TOKEN=8c457faa9e1976eda8492d0c470848626d5e7255008b189a8774819632c1e1c675acd69a6eaca57d7771e1c03e2b93b457f250d8007e6dcda81493b7199c7f76de93730cf2496417a057999bf78d10ddc89b11ecaa0e8787dc3abe97c79f69fde29cd958c93e7eb928419506215d60338d45ed8a9b71704b6c09a2050a64f86f
